<a href="https://colab.research.google.com/github/Kuldharnilakshi/Python/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/CardioGoodFitness-1.csv')

In [ ]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [ ]:
df.tail

<bound method NDFrame.tail of     Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  \
0     TM195   18    Male         14        Single      3        4   29562
1     TM195   19    Male         15        Single      2        3   31836
2     TM195   19  Female         14     Partnered      4        3   30699
3     TM195   19    Male         12        Single      3        3   32973
4     TM195   20    Male         13     Partnered      4        2   35247
..      ...  ...     ...        ...           ...    ...      ...     ...
175   TM798   40    Male         21        Single      6        5   83416
176   TM798   42    Male         18        Single      5        4   89641
177   TM798   45    Male         16        Single      5        5   90886
178   TM798   47    Male         18     Partnered      4        5  104581
179   TM798   48    Male         18     Partnered      4        5   95508

     Miles
0      112
1       75
2       66
3       85
4       47
..     ...
175    200
176    200
177    160
178    120
179    180

[180 rows x 9 columns]>

In [ ]:
df.sample

<bound method NDFrame.sample of     Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  \
0     TM195   18    Male         14        Single      3        4   29562
1     TM195   19    Male         15        Single      2        3   31836
2     TM195   19  Female         14     Partnered      4        3   30699
3     TM195   19    Male         12        Single      3        3   32973
4     TM195   20    Male         13     Partnered      4        2   35247
..      ...  ...     ...        ...           ...    ...      ...     ...
175   TM798   40    Male         21        Single      6        5   83416
176   TM798   42    Male         18        Single      5        4   89641
177   TM798   45    Male         16        Single      5        5   90886
178   TM798   47    Male         18     Partnered      4        5  104581
179   TM798   48    Male         18     Partnered      4        5   95508

     Miles
0      112
1       75
2       66
3       85
4       47
..     ...
175    200
176    200
177    160
178    120
179    180

[180 rows x 9 columns]>

In [ ]:
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

In [ ]:
df.shape

(180, 9)

In [ ]:
df.size

1620

In [ ]:
df.columns

Index(['Product', 'Age', 'Gender', 'Education', 'MaritalStatus', 'Usage',
       'Fitness', 'Income', 'Miles'],
      dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of     Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  \
0     TM195   18    Male         14        Single      3        4   29562
1     TM195   19    Male         15        Single      2        3   31836
2     TM195   19  Female         14     Partnered      4        3   30699
3     TM195   19    Male         12        Single      3        3   32973
4     TM195   20    Male         13     Partnered      4        2   35247
..      ...  ...     ...        ...           ...    ...      ...     ...
175   TM798   40    Male         21        Single      6        5   83416
176   TM798   42    Male         18        Single      5        4   89641
177   TM798   45    Male         16        Single      5        5   90886
178   TM798   47    Male         18     Partnered      4        5  104581
179   TM798   48    Male         18     Partnered      4        5   95508

     Miles
0      112
1       75
2       66
3       85
4       47
..     ...
175    200
176    200
177    160
178    120
179    180

[180 rows x 9 columns]>

In [ ]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      Product    Age  Gender  Education  MaritalStatus  Usage  Fitness  Income  \
0      False  False   False      False          False  False    False   False
1      False  False   False      False          False  False    False   False
2      False  False   False      False          False  False    False   False
3      False  False   False      False          False  False    False   False
4      False  False   False      False          False  False    False   False
..       ...    ...     ...        ...            ...    ...      ...     ...
175    False  False   False      False          False  False    False   False
176    False  False   False      False          False  False    False   False
177    False  False   False      False          False  False    False   False
178    False  False   False      False          False  False    False   False
179    False  False   False      False          False  False    False   False

     Miles
0    False
1    False
2    False
3    False
4    False
..     ...
175  False
176  False
177  False
178  False
179  False

[180 rows x 9 columns]>

In [ ]:
df.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

In [ ]:
df.describe(include="all")

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
count,180,180.000000,180,180.000000,180,180.000000,180.000000,180.000000,180.000000
unique,3,NaN,2,NaN,2,NaN,NaN,NaN,NaN
top,TM195,NaN,Male,NaN,Partnered,NaN,NaN,NaN,NaN
freq,80,NaN,104,NaN,107,NaN,NaN,NaN,NaN
mean,NaN,28.788889,NaN,15.572222,NaN,3.455556,3.311111,53719.577778,103.194444
std,NaN,6.943498,NaN,1.617055,NaN,1.084797,0.958869,16506.684226,51.863605
min,NaN,18.000000,NaN,12.000000,NaN,2.000000,1.000000,29562.000000,21.000000
25%,NaN,24.000000,NaN,14.000000,NaN,3.000000,3.000000,44058.750000,66.000000
50%,NaN,26.000000,NaN,16.000000,NaN,3.000000,3.000000,50596.500000,94.000000
75%,NaN,33.000000,NaN,16.000000,NaN,4.000000,4.000000,58668.000000,114.750000
max,NaN,50.000000,NaN,21.000000,NaN,7.000000,5.000000,104581.000000,360.000000