## pandas

In [1]:
import pandas as pd
import  numpy as np

In [8]:
sports1=pd.Series([1,2,3,4],index=['criket','football','basketball','golf'])
sports1

criket        1
football      2
basketball    3
golf          4
dtype: int64

In [9]:
sports1['football']

2

In [10]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','basketball','golf'])
sports2

cricket       11
football       2
basketball     3
golf           4
dtype: int64

In [11]:
sports1+sports2

basketball    6.0
cricket       NaN
criket        NaN
football      4.0
golf          8.0
dtype: float64

In [18]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='score1 score2 score3 score4 score5'.split())
df1

     score1    score2    score3    score4    score5
A  0.160613  0.045767  0.359725  0.894752  0.598608
B  0.247636  0.014169  0.202549  0.473127  0.951440
C  0.980510  0.492367  0.753955  0.983951  0.386504
D  0.406258  0.855190  0.379893  0.789418  0.317258
E  0.091446  0.770847  0.822870  0.884048  0.833961
F  0.563465  0.338406  0.449771  0.957821  0.555779
G  0.165896  0.185063  0.558307  0.996052  0.323589
H  0.504608  0.027239  0.342787  0.129840  0.984696

In [19]:
df1["score1"]

A    0.160613
B    0.247636
C    0.980510
D    0.406258
E    0.091446
F    0.563465
G    0.165896
H    0.504608
Name: score1, dtype: float64

In [20]:
df1["score5"]

A    0.598608
B    0.951440
C    0.386504
D    0.317258
E    0.833961
F    0.555779
G    0.323589
H    0.984696
Name: score5, dtype: float64

In [23]:
df1[["score2","score3","score4"]]

     score2    score3    score4
A  0.045767  0.359725  0.894752
B  0.014169  0.202549  0.473127
C  0.492367  0.753955  0.983951
D  0.855190  0.379893  0.789418
E  0.770847  0.822870  0.884048
F  0.338406  0.449771  0.957821
G  0.185063  0.558307  0.996052
H  0.027239  0.342787  0.129840

In [25]:
df1['score6']=df1['score2']+df1['score3']
df1

     score1    score2    score3    score4    score5    score6
A  0.160613  0.045767  0.359725  0.894752  0.598608  0.405492
B  0.247636  0.014169  0.202549  0.473127  0.951440  0.216718
C  0.980510  0.492367  0.753955  0.983951  0.386504  1.246322
D  0.406258  0.855190  0.379893  0.789418  0.317258  1.235083
E  0.091446  0.770847  0.822870  0.884048  0.833961  1.593717
F  0.563465  0.338406  0.449771  0.957821  0.555779  0.788177
G  0.165896  0.185063  0.558307  0.996052  0.323589  0.743370
H  0.504608  0.027239  0.342787  0.129840  0.984696  0.370026

In [26]:
df2={'ID':['101','102','103','107','176'],'Name':['john','mercy','akash','kavin','lally'],'profit':[20,30,45,56,78]}
df=pd.DataFrame(df2)
df

    ID   Name  profit
0  101   john      20
1  102  mercy      30
2  103  akash      45
3  107  kavin      56
4  176  lally      78

In [31]:
df[["ID","Name"]]

<class 'KeyError'>: "['ID'] not in index"

In [27]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [29]:
df=df.drop("ID",axis=1)

In [30]:
df[["ID","Name"]]

<class 'KeyError'>: "['ID'] not in index"